<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="submitFormulario()" autocomplete="off" [formGroup]="miFormulario" >

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label ">Nombre</label>
                <div class="col-sm-9">
                <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario">

                <span class="form-text text-danger"
                        *ngIf="campoValido('nombre')">
                    Debe ser formato de nombre y apellido
                </span>        
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label ">Correo</label>
                <div class="col-sm-9">
                <input type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Ingresar correo">    
                
                    <span class="form-text text-danger"
                            *ngIf="campoValido('email')">
                            {{emailErrorMsg}}
                    </span>   
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label ">Usuario</label>
                <div class="col-sm-9">
                <input type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="Ingresar usuario">   
                        
                    <span class="form-text text-danger"
                            *ngIf="campoValido('username')">
                            El usuario es obligatorio
                    </span>       
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label ">Contraseña</label>
                <div class="col-sm-9">
                <input type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Ingresar contraseña">      

                        <span class="form-text text-danger"
                            *ngIf="campoValido('password')">
                            La contraseña debe ser mayor a 6 caracteres
                        </span>   
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label ">Confirmar contraseña</label>
                <div class="col-sm-9">
                <input type="password"
                        class="form-control"
                        formControlName="password2"
                        placeholder="Confirmar contraseña">      

                    
                        <span class="form-text text-danger"
                            *ngIf="campoValido('password2')">
                            Las contraseñas deben ser iguales
                        </span>   
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                        type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>